<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoProgramaStart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css//bootstrap-flatly.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>

        <h1>Programa Start - Scrum Master</h1>

    </header>
    <aside>
        <div>
            <ul class="sidebar">
                <li>
                    <a class="linkmenu" asp-action="Index" asp-controller="Scrum">Home</a>

                </li>
                <li>
                    <a class="linkmenu" asp-action="ConsultarGrupo" asp-controller="Scrum">Meu grupo</a>
                </li>

                <div class="barra"></div>  

                <li>
                    <a class="linkmenu" data-toggle="collapse" href="#collapseEquipes" role="button"
                        aria-expanded="false" aria-controls="collapseEquipes">
                        Admin
                    </a>
                    <div class="collapse" id="collapseEquipes">
                        <ul>
                            <li>
                                <a class="linkmenu" asp-action="Consultar" asp-controller="AdminScrum">Consultar Grupos</a>
                            </li>
                            <li>
                                <a class="linkmenu" asp-action="Index" asp-controller="Home">Retornar Admin</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </aside>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
