<!DOCTYPE html>
<html lang="en">

@{
    var image = User.Claims.FirstOrDefault(x => x.Type.Equals("url", StringComparison.OrdinalIgnoreCase))?.Value; 
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetoProgramaStart - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css//bootstrap-flatly.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>
    <header>
        <div class="titulo">
            <h1>Programa Start - Admin</h1>
        </div>
        <div class="logout">
            <img class="profilepic" src="@image" alt="">
            <p class="linkmenu">Olá @User.Identity.Name</p>
            <a class="linkmenu" asp-action="Logout" asp-controller="Home">Logout</a>
        </div>
    </header>
    <aside>
        <div>
            <ul class="sidebar">
                <li>
                    <a class="linkmenu" asp-action="Index" asp-controller="Home">Home</a>

                </li>
                <li>
                    <a class="linkmenu" data-toggle="collapse" href="#collapsePrograma" role="button"
                        aria-expanded="false" aria-controls="collapsePrograma">
                        Programa Start
                    </a>
                    <div class="collapse" id="collapsePrograma">
                        <ul class="sidebar">
                            <li>
                                <a class="linkmenu" asp-action="Consultar" asp-controller="ProgramaStart">Consultar</a>
                            </li>
                            <li>
                                <a class="linkmenu" asp-action="Cadastrar" asp-controller="ProgramaStart">Cadastrar</a>
                            </li>
                            <li>
                                <a class="linkmenu" asp-action="ConsultarModulos"
                                    asp-controller="ProgramaStart">Modulos</a>
                            </li>
                            <li>
                                <a class="linkmenu" asp-action="ConsultarTecnologias"
                                    asp-controller="ProgramaStart">Tecnologias</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a class="linkmenu" data-toggle="collapse" href="#collapseColaboradores" role="button"
                        aria-expanded="false" aria-controls="collapseColaboradores">
                        Colaboradores
                    </a>
                    <div class="collapse" id="collapseColaboradores">
                        <ul class="sidebar">
                            <li>
                                <a class="linkmenu" asp-action="Consultar" asp-controller="Colaboradores">Consultar</a>
                            </li>
                            <li>
                                <a class="linkmenu" asp-action="Cadastrar" asp-controller="Colaboradores">Cadastrar</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <a class="linkmenu" data-toggle="collapse" href="#collapseStarters" role="button" aria-expanded="false"
                    aria-controls="collapseStarters">
                    Starters
                </a>
                <div class="collapse" id="collapseStarters">
                    <ul class="sidebar">
                        <li>
                            <a class="linkmenu" asp-action="Consultar" asp-controller="Starter">Consultar</a>
                        </li>
                        <li>
                            <a class="linkmenu" asp-action="Cadastrar" asp-controller="Starter">Cadastrar</a>
                        </li>
                    </ul>
                </div>
                <li>
                    <a class="linkmenu" data-toggle="collapse" href="#collapseEquipes" role="button"
                        aria-expanded="false" aria-controls="collapseEquipes">
                        Grupos
                    </a>
                    <div class="collapse" id="collapseEquipes">
                        <ul class="sidebar">
                            <li>
                                <a class="linkmenu" asp-action="Consultar" asp-controller="Grupo">Consultar</a>
                            </li>
                            <li>
                                <a class="linkmenu" asp-action="Criar" asp-controller="Grupo">Criar</a>
                            </li>
                            <li>
                                <a class="linkmenu" asp-action="Gerenciar" asp-controller="Grupo">Gerenciar</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <div class="barra"></div>

                <li>
                    <a class="linkmenu" asp-action="Index" asp-controller="Scrum">Area Scrum Master</a>

                </li>

            </ul>


        </div>

    </aside>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>





    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
