@model IEnumerable<projetomvc.Models.Tecnologia>

<script>
    $(document).ready( function () {
    $('#tecs').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por paginas",
            "zeroRecords": "Nada encontrado",
            "info": "Mostrando a pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Nada a exibir",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        }
    });
} );
</script>

<h1 >Tecnologias</h1>

<hr>
<br>

<button class="btn btn-primary btn-lg"><a asp-action="NovaTecnologia" asp-controller="Tecnologia">Cadastrar nova Tecnologia</a></button>

<hr>

<br>

<table id="tecs" class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach(var tec in Model) {
            <tr>
                <td>@tec.Id</td>
                <td>@tec.Nome</td>
                <td>@tec.Descricao</td>

                <td>
                    <button class="btn btn-secondary"><a href="/Tecnologia/Editar/@tec.Id">Editar</a></button> 
                    <button class="btn btn-danger"><a href="/Tecnologia/Excluir/@tec.Id">Excluir</a></button>
                </td>
            </tr>
        }    
    </tbody>
    

</table>




