@model IEnumerable<projetomvc.Models.ProgramaStart>

<table id="Programas" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Data de Inicio</th>
            <th>Data de Encerramento</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var programa in Model) {
            <tr>
                <td>@programa.Id</td>
                <td>@programa.Nome</td>
                <td>@programa.DataInicio.ToString("dd/MM/yyyy")</td>
                <td>@programa.DataFim.ToString("dd/MM/yyyy")</td>

                <td>
                    <button class="btn btn-secondary"><a href="/Gestao/Editar/@programa.Id">Editar</a></button> 
                    <button class="btn btn-danger"><a href="/Gestao/Excluir/@programa.Id">Excluir</a></button>
                </td>
            </tr>
        }    
    </tbody>

</table>
