@model IEnumerable<projetomvc.Models.ProgramaStart>
    
<script>
    $(document).ready( function () {
    $('#programas').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por paginas",
            "zeroRecords": "Nada encontrado",
            "info": "Mostrando a pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Nada a exibir",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        }
    });
} );
</script>

<h1>Programa Start</h1>
<hr>
<br>
<table id="programas" class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Nome</th>
            <th>Data de Inicio</th>
            <th>Data de Encerramento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var programa in Model) {
            <tr>
                <td>@programa.Id</td>
                <td>@programa.Nome</td>
                <td>@programa.DataInicio.ToString("dd/MM/yyyy")</td>
                <td>@programa.DataFim.ToString("dd/MM/yyyy")</td>

                <td>
                    <button class="btn btn-secondary"><a href="/Gestao/Editar/@programa.Id">Editar</a></button> 
                    <button class="btn btn-danger"><a href="/Gestao/Excluir/@programa.Id">Excluir</a></button>
                </td>
            </tr>
        }    
    </tbody>

</table>
