@model IEnumerable<projetomvc.Models.Projeto>

<button class="btn btn-primary btn-lg"><a asp-action="NovoProjeto" asp-controller="Projeto">Cadastrar novo Projeto</a></button>

<hr>


<table id="Projetos" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach(var projeto in Model) {
            <tr>
                <td>@projeto.Id</td>
                <td>@projeto.Etapa</td>
                

                <td>
                    <button class="btn btn-secondary"><a href="/Modulo/Editar/@projeto.Id">Editar</a></button> 
                    <button class="btn btn-danger"><a href="/Modulo/Excluir/@projeto.Id">Excluir</a></button>
                </td>
            </tr>
        }    
    </tbody>
    

</table>




