@model IEnumerable<projetomvc.Models.Modulo>

<h1>Programa Start</h1>
<hr>
<br>

<button class="btn btn-primary btn-lg"><a asp-action="NovoModulo" asp-controller="Modulo">Cadastrar novo modulo</a></button>
<button class="btn btn-primary btn-lg"><a asp-action="NovoProjeto" asp-controller="Projeto">Cadastrar novo projeto</a></button>
<button class="btn btn-primary btn-lg"><a asp-action="ConsultarProjeto" asp-controller="Projeto">Consultar projetos</a></button>
<hr>
<br>

<script>
    $(document).ready( function () {
    $('#modelo').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por paginas",
            "zeroRecords": "Nada encontrado",
            "info": "Mostrando a pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Nada a exibir",
            "infoFiltered": "(filtrado de _MAX_ registros)"
        }
    });
} );
</script>


<table id="modelo" class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Nome</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach(var modulo in Model) {
            <tr>
                <td>@modulo.Id</td>
                <td>@modulo.Nome</td>

                <td>
                    <button class="btn btn-secondary"><a href="/Modulo/Editar/@modulo.Id">Editar</a></button> 
                    <button class="btn btn-danger"><a href="/Modulo/Excluir/@modulo.Id">Excluir</a></button>
                </td>
            </tr>
        }    
    </tbody>
    

</table>




