@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<body class="text-center">
    <main class="form-signin">
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <img class="img" src="https://blog.gft.com/wp-content/themes/gft-blog-2016-theme/assets/img/gft/gft-logo@4x.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Programa Start - Login</h1>

            <div class="form-floating">
                <input asp-for="Input.Email" type="email" class="form-control" id="floatingInput" placeholder="Email">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            


            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            
        </form>
    </main>
</body>
         

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
