
.text-center {
    color: rgb(243, 243, 243);
    text-align: center!important;
}

.img{
    width: fit-content;
    padding-bottom: 20px;
}

main{
    background-color: rgba(58, 59, 80, 0.335);
    padding: 20px;
    border-radius: 10%;
}

body {
    background-image: Url("/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
input {
    margin-top: 5px;
    margin-bottom: 5px;
}

