@model IEnumerable<projetomvc.Models.Starter>

<script>
    $(document).ready(function () {
        $('#modelo').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por paginas",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando a pagina _PAGE_ de _PAGES_",
                "infoEmpty": "Nada a exibir",
                "infoFiltered": "(filtrado de _MAX_ registros)"
            }
        });
    });
</script>


<h1>Starters</h1>

<hr>
<br>

<table id="modelo" class="table table-sm table-hover table-striped table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Nome</th>
            <th>Letras</th>
        </tr>
    </thead>
    <tbody> 
        @foreach(var starter in Model) {
            <tr>
                <td>@starter.Id</td>
                <td>@starter.Nome</td>
                <td>@starter.Letras</td>
            </tr>
        }    
    </tbody>

</table>