@model projetomvc.DTO.ProjetoDTO


<form asp-controller="Projeto" asp-action="Salvar" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Etapa">Etapa</label>
            <input type="text" asp-for="Etapa" class="form-control" placeholder="Nome">
            <span asp-validation-for="Etapa" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Modulo">Modulo</label>
            <select class="form-control" asp-for="Modulo"
                asp-items='@(new SelectList(@ViewBag.Modulo,"Id","Nome"))'></select>
            <span asp-validation-for="Modulo" class="text-danger"></span>
        </div>
    </div>



    <button type="submit" class="btn btn-primary">Confirmar</button>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}